/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[BvLocation_BvLocationId] [int] NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[BvLocations]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BvLocations](
	[BvLocationId] [int] IDENTITY(1,1) NOT NULL,
	[BvStoreNum] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Zip] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[State] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.BvLocations] PRIMARY KEY CLUSTERED 
(
	[BvLocationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Charities]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charities](
	[CharityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Zip] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[FederalTaxId] [nvarchar](max) NOT NULL,
	[TypeOfCharity] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[CharityContactNm] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Charities] PRIMARY KEY CLUSTERED 
(
	[CharityId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Forms]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[NameOnCheck] [nvarchar](max) NULL,
	[Purpose] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[OrganizationMailingAddress] [nvarchar](max) NULL,
	[OrganizationMailingCity] [nvarchar](max) NULL,
	[OrganizationMailingState] [nvarchar](max) NULL,
	[OrganizationMailingZip] [nvarchar](max) NULL,
	[OrganizationPhone] [nvarchar](max) NULL,
	[FederalTaxID] [nvarchar](max) NULL,
	[NewPartner] [bit] NOT NULL,
	[HostingRestaurant] [int] NOT NULL,
	[WeekDayOfPartnership] [nvarchar](max) NULL,
	[DateOfPartnership] [datetime] NOT NULL,
	[Week1Date] [datetime] NOT NULL,
	[Week2Date] [datetime] NOT NULL,
	[Week3Date] [datetime] NOT NULL,
	[Week1_45_GuestCount] [int] NOT NULL,
	[Week1_56_GuestCount] [int] NOT NULL,
	[Week1_67_GuestCount] [int] NOT NULL,
	[Week1_78_GuestCount] [int] NOT NULL,
	[Week1_89_GuestCount] [int] NOT NULL,
	[Week2_45_GuestCount] [int] NOT NULL,
	[Week2_56_GuestCount] [int] NOT NULL,
	[Week2_67_GuestCount] [int] NOT NULL,
	[Week2_78_GuestCount] [int] NOT NULL,
	[Week2_89_GuestCount] [int] NOT NULL,
	[Week3_45_GuestCount] [int] NOT NULL,
	[Week3_56_GuestCount] [int] NOT NULL,
	[Week3_67_GuestCount] [int] NOT NULL,
	[Week3_78_GuestCount] [int] NOT NULL,
	[Week3_89_GuestCount] [int] NOT NULL,
	[LastWeekAverageCheck_45] [float] NOT NULL,
	[LastWeekAverageCheck_56] [float] NOT NULL,
	[LastWeekAverageCheck_67] [float] NOT NULL,
	[LastWeekAverageCheck_78] [float] NOT NULL,
	[LastWeekAverageCheck_89] [float] NOT NULL,
	[Week1_45_AdjustedSales] [float] NOT NULL,
	[Week1_56_AdjustedSales] [float] NOT NULL,
	[Week1_67_AdjustedSales] [float] NOT NULL,
	[Week1_78_AdjustedSales] [float] NOT NULL,
	[Week1_89_AdjustedSales] [float] NOT NULL,
	[Week2_45_AdjustedSales] [float] NOT NULL,
	[Week2_56_AdjustedSales] [float] NOT NULL,
	[Week2_67_AdjustedSales] [float] NOT NULL,
	[Week2_78_AdjustedSales] [float] NOT NULL,
	[Week2_89_AdjustedSales] [float] NOT NULL,
	[Week3_45_AdjustedSales] [float] NOT NULL,
	[Week3_56_AdjustedSales] [float] NOT NULL,
	[Week3_67_AdjustedSales] [float] NOT NULL,
	[Week3_78_AdjustedSales] [float] NOT NULL,
	[Week3_89_AdjustedSales] [float] NOT NULL,
	[Average_45_Sales] [float] NOT NULL,
	[Average_56_Sales] [float] NOT NULL,
	[Average_67_Sales] [float] NOT NULL,
	[Average_78_Sales] [float] NOT NULL,
	[Average_89_Sales] [float] NOT NULL,
	[Average_45_GuestCount] [float] NOT NULL,
	[Average_56_GuestCount] [float] NOT NULL,
	[Average_67_GuestCount] [float] NOT NULL,
	[Average_78_GuestCount] [float] NOT NULL,
	[Average_89_GuestCount] [float] NOT NULL,
	[Week1_AdjustedSalesTotal] [float] NOT NULL,
	[Week2_AdjustedSalesTotal] [float] NOT NULL,
	[Week3_AdjustedSalesTotal] [float] NOT NULL,
	[Week1_GuestCountTotal] [int] NOT NULL,
	[Week2_GuestCountTotal] [int] NOT NULL,
	[Week3_GuestCountTotal] [int] NOT NULL,
	[Average_GuestCountTotal] [float] NOT NULL,
	[LastWeekAverageCheckTotal] [float] NOT NULL,
	[Scenario1_EstimatedGuestCount] [float] NOT NULL,
	[Scenario2_EstimatedGuestCount] [float] NOT NULL,
	[Scenario1_ThreeWeekAverageGuestCount] [float] NOT NULL,
	[Scenario2_ThreeWeekAverageGuestCount] [float] NOT NULL,
	[Scenario1_TargetedGuestCount] [float] NOT NULL,
	[Scenario2_TargetedGuestCount] [float] NOT NULL,
	[Scenario1_EstimatedDonation] [float] NOT NULL,
	[Scenario2_EstimatedDonation] [float] NOT NULL,
	[ActualSales_45] [float] NOT NULL,
	[ActualSales_56] [float] NOT NULL,
	[ActualSales_67] [float] NOT NULL,
	[ActualSales_78] [float] NOT NULL,
	[ActualSales_89] [float] NOT NULL,
	[ActualGuestCount_45] [int] NOT NULL,
	[ActualGuestCount_56] [int] NOT NULL,
	[ActualGuestCount_67] [int] NOT NULL,
	[ActualGuestCount_78] [int] NOT NULL,
	[ActualGuestCount_89] [int] NOT NULL,
	[PosiDonations] [float] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[ActualAverageCheck_45] [float] NOT NULL,
	[ActualAverageCheck_56] [float] NOT NULL,
	[ActualAverageCheck_67] [float] NOT NULL,
	[ActualAverageCheck_78] [float] NOT NULL,
	[ActualAverageCheck_89] [float] NOT NULL,
	[ActualSalesTotal] [float] NOT NULL,
	[ActualGuestCountTotal] [int] NOT NULL,
	[ActualAverageCheckTotal] [float] NOT NULL,
	[TenPercentDonation] [float] NOT NULL,
	[SalesContribution_3WeekAverage] [float] NOT NULL,
	[SalesContribution_Actual] [float] NOT NULL,
	[SalesContribution_Difference] [float] NOT NULL,
	[SalesContribution_Donation] [float] NOT NULL,
	[SalesContribution_SalesContribution] [float] NOT NULL,
	[GuestCountContribution_3WeekAverage] [float] NOT NULL,
	[GuestCountContribution_ActualNumber] [float] NOT NULL,
	[GuestCountContribution_GCCountribution] [float] NOT NULL,
	[MailPartnershipCheckToBV] [bit] NOT NULL,
	[Donations10PercentOfSalesToGL7700] [float] NOT NULL,
	[GLCode7700] [int] NOT NULL,
	[DonationsTakenOnThePosiRegisterCodeToGL2005] [float] NOT NULL,
	[GLCode2005] [int] NOT NULL,
	[TotalDonation] [float] NOT NULL,
	[Average_SalesTotal] [float] NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[Scenario1_GuestCountInvited] [int] NOT NULL,
	[Scenario2_GuestCountInvited] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Forms] PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[PartnershipNights]    Script Date: 6/9/2014 11:53:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnershipNights](
	[PartnershipNightId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CheckRequestId] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[CheckRequestFinished] [bit] NOT NULL,
	[BeforeTheEventFinished] [bit] NOT NULL,
	[AfterTheEventFinished] [bit] NOT NULL,
	[BVLocation_BvLocationId] [int] NOT NULL,
	[Charity_CharityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PartnershipNights] PRIMARY KEY CLUSTERED 
(
	[PartnershipNightId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'922ef74c-b60a-41dc-afc1-9fc9ad64b841', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9339d75e-d6fb-4655-8250-3490dac02a6c', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2a8034a4-cc5f-41c3-ae72-f1511a79abe9', N'922ef74c-b60a-41dc-afc1-9fc9ad64b841')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2a8034a4-cc5f-41c3-ae72-f1511a79abe9', N'9339d75e-d6fb-4655-8250-3490dac02a6c')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [UserEmail], [BvLocation_BvLocationId], [Role]) VALUES (N'2a8034a4-cc5f-41c3-ae72-f1511a79abe9', N'e@e.com', 0, N'AN5UcOddobVLr8AUkSzCsZtJ7v3OGVGzFMWaluX3g2Gqe5ZEvI+5Prnrj7o4fYIb2Q==', N'66459ca6-d636-4d52-bf0c-749638d7c3f5', NULL, 0, 0, NULL, 0, 0, N'elias', N'Test', N'Admin', N'testAdmin@test.com', 12, N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [UserEmail], [BvLocation_BvLocationId], [Role]) VALUES (N'7b8d2a49-98f6-412e-98ea-bb00356c7661', N'bob@bob.com', 0, N'AOnSoivuj+s4cjnhuEqw+4c+S4977WSYXSIx7ZKJuzATsTXuJNAwz6NxEo7ofSs7kQ==', N'83127e1d-5da2-4948-bb23-43808674f417', N'839-393-3938', 0, 0, NULL, 0, 0, N'bob', N'Bob', N'Bob', N'bob@bob.com', 12, N'Admin')
SET IDENTITY_INSERT [dbo].[BvLocations] ON 

INSERT [dbo].[BvLocations] ([BvLocationId], [BvStoreNum], [Address], [City], [Zip], [Phone], [State]) VALUES (3, N'BV01', N'7401 E Mill Plain Blvd', N'Vancouver', N'98664-1329', N'360-694-4971', N'WA')
INSERT [dbo].[BvLocations] ([BvLocationId], [BvStoreNum], [Address], [City], [Zip], [Phone], [State]) VALUES (4, N'BV03', N'9909 NE Hwy 99', N'Vancouver', N'98665-5607', N'360-574-1981', N'WA')
INSERT [dbo].[BvLocations] ([BvLocationId], [BvStoreNum], [Address], [City], [Zip], [Phone], [State]) VALUES (5, N'BV04', N'8218 NE Glisan St', N'Portland', N'97220-5810', N'503-255-2815', N'OR')
SET IDENTITY_INSERT [dbo].[BvLocations] OFF
SET IDENTITY_INSERT [dbo].[Charities] ON 

INSERT [dbo].[Charities] ([CharityId], [Name], [Address], [City], [Zip], [Phone], [FederalTaxId], [TypeOfCharity], [State], [CharityContactNm]) VALUES (1, N'Test Charity 1', N'555 Main St', N'Eugene', N'97402', N'839-283-2829', N'VD283928', N'Private', N'OR', N'Testy Testerson')
INSERT [dbo].[Charities] ([CharityId], [Name], [Address], [City], [Zip], [Phone], [FederalTaxId], [TypeOfCharity], [State], [CharityContactNm]) VALUES (3, N'Hope For Bob', N'889 8th St', N'Bobsville', N'39382', N'839-292-2928', N'DK839382', N'Children', N'OR', N'Bob Bobberson')
INSERT [dbo].[Charities] ([CharityId], [Name], [Address], [City], [Zip], [Phone], [FederalTaxId], [TypeOfCharity], [State], [CharityContactNm]) VALUES (4, N'Test Charity 2', N'555 Tired Ave', N'NdSleepsville', N'83920', N'839-292-2928', N'LK3892823', N'Sleepers', N'OR', N'Sue Tyred')
SET IDENTITY_INSERT [dbo].[Charities] OFF
SET IDENTITY_INSERT [dbo].[PartnershipNights] ON 

INSERT [dbo].[PartnershipNights] ([PartnershipNightId], [StartDate], [EndDate], [CheckRequestId], [Comments], [CheckRequestFinished], [BeforeTheEventFinished], [AfterTheEventFinished], [BVLocation_BvLocationId], [Charity_CharityId]) VALUES (4, CAST(0x0000A33C00F73140 AS DateTime), CAST(0x0000A33C0107AC00 AS DateTime), 2, N'editing, editing', 0, 1, 0, 4, 3)
INSERT [dbo].[PartnershipNights] ([PartnershipNightId], [StartDate], [EndDate], [CheckRequestId], [Comments], [CheckRequestFinished], [BeforeTheEventFinished], [AfterTheEventFinished], [BVLocation_BvLocationId], [Charity_CharityId]) VALUES (5, CAST(0x0000A33D011826C0 AS DateTime), CAST(0x0000A33D01391C40 AS DateTime), 1, N'Testing two', 1, 1, 1, 5, 7)
INSERT [dbo].[PartnershipNights] ([PartnershipNightId], [StartDate], [EndDate], [CheckRequestId], [Comments], [CheckRequestFinished], [BeforeTheEventFinished], [AfterTheEventFinished], [BVLocation_BvLocationId], [Charity_CharityId]) VALUES (6, CAST(0x0000A34001499700 AS DateTime), CAST(0x0000A340015A11C0 AS DateTime), 3, N'Testing three', 0, 1, 1, 30, 1)
SET IDENTITY_INSERT [dbo].[PartnershipNights] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_BvLocation_BvLocationId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_BvLocation_BvLocationId] ON [dbo].[AspNetUsers]
(
	[BvLocation_BvLocationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_BVLocation_BvLocationId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_BVLocation_BvLocationId] ON [dbo].[PartnershipNights]
(
	[BVLocation_BvLocationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
/****** Object:  Index [IX_Charity_CharityId]    Script Date: 6/9/2014 11:53:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Charity_CharityId] ON [dbo].[PartnershipNights]
(
	[Charity_CharityId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF)
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [Average_SalesTotal]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [IsComplete]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [Scenario1_GuestCountInvited]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [Scenario2_GuestCountInvited]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.BvLocations_BvLocation_BvLocationId] FOREIGN KEY([BvLocation_BvLocationId])
REFERENCES [dbo].[BvLocations] ([BvLocationId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.BvLocations_BvLocation_BvLocationId]
GO
ALTER TABLE [dbo].[PartnershipNights]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PartnershipNights_dbo.BvLocations_BVLocation_BvLocationId] FOREIGN KEY([BVLocation_BvLocationId])
REFERENCES [dbo].[BvLocations] ([BvLocationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PartnershipNights] CHECK CONSTRAINT [FK_dbo.PartnershipNights_dbo.BvLocations_BVLocation_BvLocationId]
GO
ALTER TABLE [dbo].[PartnershipNights]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PartnershipNights_dbo.Charities_Charity_CharityId] FOREIGN KEY([Charity_CharityId])
REFERENCES [dbo].[Charities] ([CharityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PartnershipNights] CHECK CONSTRAINT [FK_dbo.PartnershipNights_dbo.Charities_Charity_CharityId]
GO
