<!--model needs to be based on a list from the db of pn's per store-->
@model Capstone.WebUI.Domain.Entities.BvLocation

@{
    ViewBag.Title = "Calendar";
}
<script src="~/Scripts/js-calendarFunctions.js"></script>
<h2>Calendar</h2>

	@foreach(var e in Model.PartnershipNights)
	{
	    <ul>
	        <li>@e.BVLocation.BvStoreNum</li>
	        <li>@e.Charity.Name</li>
	        <li>@e.Date.ToString()</li>
	    </ul>
	}
<!--Need to add drop down box to choose which restaurant they would like to view
    OR get bvstore num for user and return that store's pn's-->
<!--think I need to move the Calendar() function here and intersperse model stuff to get nights to show up
    ALSO need to get it to take the current date-->
<script type="text/javascript">
    function calendar(calendarDay)
    {
        if (calendarDay == null) calDate = new Date()
        else calDate = new Date(calendarDay);

        document.write("<table id='calendar_table'>");
        writeCalTitle(calDate);
        writeDayName();
        writeCalDays(calDate);
        document.write("</table>");
    }
    function writeCalDays(calendarDay) {
        var currentDay = calendarDay.getDate();
        //determine the starting day of the week
        var dayCount = 1
        var totalDays = daysInMonth(calendarDay);
        calendarDay.setDate(1); //set the date to the first day of the month
        var weekDay = calendarDay.getDay(); //the day of the week of the first day
        //write blank cells preceding the starting day
        document.write("<tr>");
        for (var i = 0; i < weekDay; i++) {
            document.write("<td></td>");
        }
        //write cells for each day of the month
        while (dayCount <= totalDays) {
            //write the table rows and cells
            if (weekDay == 0) document.write("<tr>");
            if (dayCount == currentDay) {
                //highlight the current day
                document.write("<td class='calendar_dates' id='calendar_today'>" + dayCount)
                   
            }
            else {
                //display the day as usual
                document.write("<td class='calendar_dates'>" + dayCount + "</td>");
            }

            if (weekDay == 6) document.write("</tr>");
            //move to the next day
            dayCount++;
            calendarDay.setDate(dayCount);
            weekDay = calendarDay.getDay();
        }
        document.write("</tr>");
    }
    calendar();
</script>
